{% extends "base.html" %}

{% block head_title %} {{ page_title }} - {{block.super}}{% endblock %}


 
{% block content %}
    <h1>{{ page_title }}</h1>
    <p>This is the home page of your application.</p>
    <p>Current user: {{ request.user }}</p>
    <p>Request method: {{ request.method }}</p>
    <p>User authenticated: {{ request.user.is_authenticated }}</p>

    <p>Page visits: {{ page_visit_count }}</p>
    <p>Percent: {{ percent }}</p>
    <p>Total page visits: {{ total_visit_count }}</p>
{% endblock %}