{% extends "base.html" %}
{% load static %}
<link href="{% static '/all.min.css' %}" rel="stylesheet" />
{% block head_title %} {{ page_title }} - {{block.super}}{% endblock %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

 
{% block content %}
    <h1>{{ page_title }}</h1>
    <p>This is the home page of your application.</p>
    {% include 'snippets/welcome-user-msg.html' %}
    <p>Current user: {{ request.user }}</p>
    <p>Request method: {{ request.method }}</p>
    <p>User authenticated: {{ request.user.is_authenticated }}</p>

    <p>Page visits: {{ page_visit_count }}</p>
    <p>Percent: {{ percent }}</p>
    <p>Total page visits: {{ total_visit_count }}</p>

{% endblock %}