{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}{% endblock %} - SaaS
        </title>
        <link rel="stylesheet" href="{% static 'allauth_ui/output.css' %}">
        {% block extra_head %}{% endblock %}
        {% include 'base/css.html' %}
    </head>
    <body>
        {% include 'nav/navbar.html' %}
        {% include 'base/messages.html' with messages=messages %}
        {% block content %}

                    {% block whitebox %}{% endblock %}

        {% endblock %}

        {% include 'base/js.html' %}
    </body>
</html>